{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "src/**/*.js",
    "src/**/*.ts",
    "src/**/*.tsx"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "all": true,
  "check-coverage": true,
  "sourceMap": true,
  "instrument": true
}